// Colour
$teal: #047381;
$mustard: #c1bf31;
$brightYellow: #f4eb75;

// Navigation Colour
$nav-background: $teal;
$nav-text-color: $mustard;
$link: $brightYellow;

// Clock variables
$clock-text-color: #e6e6e6;
$clock-bg-color: #059aad;
$clock-border-color: #33cccc;
